# Configurações do Banco de Dados
ConnectionStrings__DefaultConnection=Data Source=estoque.db

# Configurações JWT
Jwt__Issuer=Estoque.Api
Jwt__Audience=Estoque.Web
Jwt__Key=SUA_CHAVE_SECRETA_AQUI_MUITO_LONGA_E_SEGURA

# Configurações RabbitMQ
RabbitMq__HostName=localhost
RabbitMq__Port=5672
RabbitMq__UserName=guest
RabbitMq__Password=guest
RabbitMq__QueueName=stock-events

# Configurações de Log
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning

# Configurações de CORS
Cors__AllowedOrigins=http://localhost:4200,http://localhost:5177,http://localhost:3000